.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100px;
  background: #ffffff;
  padding: 20px;
  gap: 15px;

  flex-wrap: wrap; 
}

/* LEFT */
.left {
  display: flex;
  flex-direction: column;
}

.left h1 {
  margin: 5px 0;
  font-size: clamp(20px, 2.5vw, 28px); 
}

.breadcrumb {
  font-size: clamp(12px, 1.2vw, 14px);
  color: gray;
}

/* BUTTON */
.sync-btn {
  background: #ff1e1e;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;

  transition: 0.3s;

  white-space: nowrap;
}

.sync-btn img {
  width: 18px;
  height: 18px;
}

.sync-btn:hover {
  background: #d90000;
}


@media (max-width: 900px) {
  .page-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .sync-btn {
    align-self: flex-end;
  }
}

/* mobile */
@media (max-width: 600px) {
  .page-header {
    padding: 15px;
  }

  .left h1 {
    font-size: 20px;
  }

  .breadcrumb {
    font-size: 12px;
  }

  .sync-btn {
    width: 100%; 
    justify-content: center;
    padding: 12px;
  }
}