.navbar {
  background: #081c32;
  color: hsl(247, 15%, 77%);

  height: 100vh; /* 🔥 fixe */
  width: 250px;

  padding: 10px;

  display: flex;
  flex-direction: column;

  position: fixed; /* 🔥 clé */
  top: 0;
  left: 0;

  transition: width 0.3s ease;
}

.navbar.open {
  width: 250px;
}



.navbar.closed {
  width: 80px;
}

/* quand navbar fermée */
.navbar.closed + .main-content {
  margin-left: 80px;
  width: calc(100% - 80px);
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* LOGO */
.logo {
  font-size: 18px;
  font-weight: 600; /* 🔥 moins agressif */
  white-space: nowrap;
}

/* TOGGLE BUTTON */
.toggle-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🔥 ICON */
.toggle-btn img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* rotation UNIQUEMENT quand open */
.arrow.open {
  transform: rotate(180deg);
}

/* 🔥 hover SANS casser rotation */
.toggle-btn img:hover {
  scale: 1.15; /* 🔥 PAS transform */
}

.arrow.open:hover {
  transform: rotate(180deg) scale(1.15);
}
/* TOP */
.top {
  width: 100%;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* LINK */
.icon-links {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 12px 15px;
  border-radius: 12px;
  margin: 5px 0;

  text-decoration: none;
  color: inherit;

  transition: 0.3s;
}

/* ICON */
.icon-links img {
  width: 20px;
  height: 20px;
}

/* HOVER */
.icon-links:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* ACTIVE */
.icon-links.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

/* ACCUEIL */
.accueil {
  display: flex;
  align-items: center;
  gap: 15px;
  
  margin-top: auto;
  padding: 12px 15px;
  border-radius: 12px;

  text-decoration: none;
  color: inherit;
  font-weight: 600;

  transition: 0.3s;
}

.accueil:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.accueil img {
  width: 20px;
  height: 20px;
}

/* MODE FERMÉ */
.navbar.closed .icon-links {
  justify-content: center;
}

.navbar.closed .accueil {
  justify-content: center;
}

.navbar.closed h5 {
  display: none;
}

.navbar.closed .logo {
  display: none;
}

/* 🔥 ALIGNEMENT HEADER */
.navbar.closed .header {
  justify-content: center;
}

/* 🔥 CENTRER BOUTON */
.navbar.closed .toggle-btn {
  width: 100%;
  justify-content: center;
}