.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* cards container */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* card */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:hover {
  transform: translateY(-3px);
}

/* icon */
.icon {
  font-size: 24px;
}

/* title */
.card h3 {
  font-size: 16px;
  color: #555;
}

/* number */
.card p {
  font-size: 26px;
  font-weight: bold;
}