@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; 
  font-family:"Poppins" , sans-serif;
  border: none;
  scroll-behavior: smooth;
}

/* LAYOUT GLOBAL */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* 🔥 LAYOUT PRINCIPAL */
.app {
  display: flex;
  min-height: 100vh;
  /* background-color: blue; */
}


.main-content {
  flex: 1;
  /* background-color: aqua; */
  width: calc(100% - 250px);
  height: 100vh; /* 🔥 même hauteur écran */
  overflow-y: auto; /* 🔥 scroll ici seulement */
  background-color: #e4e6e9;
}